[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/liujings8/hexo-theme-next.git
[submodule "vue/vueBlog"]
	path = vue/vueBlog
	url = https://github.com/chaohangz/vueBlog.git
[submodule "themes/hexo-theme-yilia"]
	path = themes/hexo-theme-yilia
	url = https://github.com/litten/hexo-theme-yilia.git
[submodule "javascript/mui"]
	path = javascript/mui
	url = https://github.com/dcloudio/mui.git
[submodule "vue/vue-tutorials"]
	path = vue/vue-tutorials
	url = https://github.com/keepfool/vue-tutorials.git
[submodule "themes/Casper.git"]
	path = themes/Casper.git
	url = https://github.com/TryGhost/Casper.git
